
/* trying to learn more about animated backgrounds, currently adjusting code from 
https://www.gradient-animator.com/ */

body {

	background: #f9f9f9;


}

h1 {
    color: #000000;
}

h3 {
	color: #000000;

}

.center {
    margin: 400 auto;
    }



