


body {

	background: #fafafa;


}

h1 {
    color: #000000;
}

h3 {
	color: #000000;

}

.center {
    margin: 900 auto;
    }



/* https://www.w3schools.com/css/css3_shadows.asp -- reference for box shadow to create height






